<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-header>
      Sign Up
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <form [formGroup]="signUpForm" (ngSubmit)="signup()">
          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email" (keydown.space)="$event.preventDefault();"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="username" (keydown.space)="$event.preventDefault();"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password" (keydown.space)="$event.preventDefault();"></ion-input>
          </ion-item>

          <div padding>
            <button type="submit" ion-button block [disabled]="!signUpForm.valid">Sign up</button>
          </div>
        </form>
        <p padding>Already Registered ? <a href="#" class="link" (click)="loadSignInPage()">Sign In</a></p>
      
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>