<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-header>
      Sign Up
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="userData.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="userData.username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="userData.password"></ion-input>
        </ion-item>

        <button ion-button block (click)="signup()">Sign up</button>
        
        <p padding>Already Registered ? <a href="#" (click)="loadSignInPage()">Sign In</a></p>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>