<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Task</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="task.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Note"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Calories Burnt Per Min</ion-label>
      <ion-input type="number" [(ngModel)]="task.calories" value="0"></ion-input>
      <button ion-button item-end (click)="increment();" color="secondary">
        <ion-icon name='add-circle'></ion-icon>
      </button>
      <button ion-button item-end (click)="decrement();" color="danger">
        <ion-icon name='remove-circle'></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="task.category">
        <ion-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</ion-option>
      </ion-select>
      <button ion-button item-end (click)="addCategory()" color="secondary">
        <ion-icon name='add-circle'></ion-icon>
      </button>
    </ion-item>

    <ion-item padding>
      <button ion-button block (click)="saveTask()">Save</button>
    </ion-item>
  
  </ion-list>
  
</ion-content>
