<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchString" (ionInput)="setFilteredItems()"></ion-searchbar>
 
  <ion-grid *ngFor="let task of fileteredTasks; let idx = index;" class="task-wrapper">
    <ion-row>
      <ion-col>
        <ion-label>{{task.title}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="width: 30%">
        <button ion-button style="width: 100%" (click)="editTask(task);">
          <ion-icon name='create'></ion-icon>&nbsp; Edit
        </button>
      </ion-col>
      
      <ion-col style="width: 30%">
        <button ion-button style="width: 100%" color="danger" (click)="deleteTask(task);">
          <ion-icon name='trash'></ion-icon>&nbsp; Delete
        </button>
      </ion-col>
      
      <ion-col style="width: 30%">
        <button ion-button style="width: 100%" color="secondary" (click)="startTask(task);">
          <ion-icon name='stopwatch'></ion-icon>&nbsp; Start
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <timer></timer>  

</ion-content>


